extends layout

block content
  header
    h1 Plantas

  table.w3-table.w3-striped.w3-bordered
    thead
      tr
        th Id
        th Freguesia
        th Espécie
        th Estado
        th Número de intervenções
    tbody
      each planta in lista
        tr
          td
            a(href=`/${planta._id}`) #{planta._id}
          td #{planta.Freguesia}
          td
            a(href=`/especies/${planta.Espécie}`) #{planta.Espécie}
          td #{planta.Estado}
          td #{planta["Número de intervenções"]}