extends layout

block content
  header
    .w3-container
        h1.w3-text-blue.w3-center Detalhes da Planta #{planta._id}

  ul.w3-text-grey
    if planta['Número de Registo']
      li
        h3 Número de Registo: 
        span #{planta['Número de Registo']}
    if planta['Código de rua']
      li
        h3 Código de rua: 
        span #{planta['Código de rua']}
    if planta.Rua
      li
        h3 Rua: 
        span #{planta.Rua}
    if planta.Local
      li
        h3 Local: 
        span #{planta.Local}
    if planta.Freguesia
      li
        h3 Freguesia: 
        span #{planta.Freguesia}
    if planta['Espécie']
      li
        h3 Espécie: 
        a(href=`/especies/${planta.Espécie}`) #{planta.Espécie}
    if planta['Nome Científico']
      li
        h3 Nome Científico: 
        span #{planta['Nome Científico']}
    if planta.Estado
      li
        h3 Estado: 
        span #{planta.Estado}
    if planta.Caldeira
      li
        h3 Caldeira: 
        span #{planta.Caldeira}
    if planta.Tutor
      li
        h3 Tutor: 
        span #{planta.Tutor}
    if planta['Implantação']
      li
        h3 Implantação: 
        span #{planta['Implantação']}
    if planta.Gestor
      li
        h3 Gestor: 
        span #{planta.Gestor}
    if planta['Data de actualização']
      li
        h3 Data de actualização: 
        span #{planta['Data de actualização']}

  a.w3-button.w3-blue(href='/') Voltar à página principal